Todays task :
    q1 : Try to print a prime number in between 1 to 1000          
        shivan@ineuron.ai
        sudhanshu@ineuron.ai

In [1]:
def prime1(a):
    l = []
    for i in range(2,a):
        flag = True
        for j in range(2,i):
            if i%j == 0:
                flag = False
                break;
        if flag == True:
            l.append(i)
    print(l)

In [2]:
prime1(1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

q2 : Try to write a function which  is equivalent  to print function in python

q3 : Try to write a function which is a replica of list append , extend and pop function

q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [3]:
l1 = lambda *a : ''.join([i for i in a])

In [4]:
l1('Git','Anjali')

'GitAnjali'

In [5]:
def fun1(*a):
    str = ''
    for i in a:
        str += i
    return str

In [6]:
fun1("Git","Sushil","Love")

'GitSushilLove'

q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [7]:
l = lambda a : [i*i for i in range(a+1)]

In [8]:
l(100)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

q6 : Try to write a 10 Different different example of lambda function with a choice of your task

In [9]:
#add 10
x = lambda a : a + 10
print(x(4))

14

In [10]:
x = lambda a,b : a + b
print(x(10,5))

15

In [11]:
x = lambda *m : [i*i for i in m]
x(4,5,67,89,12)

[16, 25, 4489, 7921, 144]

In [12]:
x = lambda *m : [i**3 for i in m]
x(4,5,67,89,12)

[64, 125, 300763, 704969, 1728]

In [13]:
x = lambda *m : [i for i in m if type(i) == int]
x(4,6,'g','abc','git','anjali','love')

[4, 6]

In [14]:
x = lambda m : [i.split('.') for i in m if type(i) == str]
x('Gita')

[['G'], ['i'], ['t'], ['a']]

In [15]:
x = lambda *m : [i.center(15,'*') for i in m if type(i) ==  str]
x('ABCDE','sefr','wxyz')

['*****ABCDE*****', '******sefr*****', '******wxyz*****']

In [16]:
x = lambda *m : [set(i) for i in m if type(i) == list]
x([4,5,6,7,8,9,9,9,9],[3,4,4,4,5,5],[6,7,8,9,2])

[{4, 5, 6, 7, 8, 9}, {3, 4, 5}, {2, 6, 7, 8, 9}]

In [17]:
x = lambda *m : [i*1 for i in m if i%2 == 0]
x(2,3,4,6,8,10,16,25,30)

[2, 4, 6, 8, 10, 16, 30]

In [18]:
x = lambda **g : [i for i in g.values() if type(i) == int or type(i) == float]
x(a = 4, b = 'main' , c = 5 , d = 8.5)

[4, 5, 8.5]

 q7 : Try to write a funtion which can perform a read operation from .txt file

In [19]:
def file_read():
    f = open("Myfile.txt",'r')
    print(f.read())
    f.close()
file_read()

Hi
Hello
How are you?