before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [4]:
for i in range(4):
    j = 0
    for j in range(i+1):
        print('ineuron',end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [5]:
for i in range(6):
    if i<=3:
        n = i
    else:
        n = 6  - i
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

q3 : Try to extract all the list entity

In [7]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
        "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [8]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [9]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may b a part of dict key and values

In [10]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == int:
        l1.append(j)
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

q7 : Try to give summation of all the numeric data

In [15]:
sum = 0
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                sum = sum + j
    if type(i) == int:
        sum = sum + i
sum

132

q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [17]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                if j % 2 != 0:
                    l1.append(j)
    if type(i) == int:
        if j % 2 != 0:
            l1.append(j)
set(l1)

{1, 3, 5, 7, 23, 45}

q9 : Try to extract "ineruon" out of this data

In [19]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == "ineuron":
                print(j)
    if type(i) == dict:
        for j,k in i.items():
            if j == "ineuron":
                print(j)
            if k == "ineuron":
                print(k)
    if type(i) == "ineuron":
        print(j)

ineuron
ineuron

TypeError: unhashable type: 'list'

q11 : Try to find out number of keys in dict element

In [20]:
for i in l:
    if type(i) == dict:
        print(i.keys())

dict_keys(['k1', 'k2', 'k3', 3, 7])

q12 : Try to filter out all the string data

In [21]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for j,k in i.items():
            if type(j) == str:
                print(j)
            if type(k) == str:
                print(k)
    if type(i) == str:
        print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [24]:
mul = 1
for i in l:
    if type(i) == int:
        mul = mul * i
    if type(i) == list:
        list1 = 1
        for j in i:
            if type(j) == int:
                list1 = list1*j
        print(i,list1)
    if type(i) == tuple:
        tup1 = 1
        for j in i:
            if type(j) == int:
                tup1 = tup1*j
        print(i,tup1)
    if type(i) == dict:
        dict1 = 1
        for j,k in i.items():
            if type(j) == int:
                dict1 = dict1*j
            if type(k) == int:
                dict1 = dict1*j
        print(i,dict1)
    if type(i) == set:
        set1 = 1
        for j in i:
            if type(j) == int:
                set1 = set1*j
        print(i,set1)

[1, 2, 3, 4] 24
(2, 3, 4, 5, 6) 720
(3, 4, 5, 6, 7) 2520
{45, 4, 5, 23} 20700
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} 441
['ineuron', 'data science '] 1

q15 : Try to unwrape all the collection inside collection and create a flat list

In [35]:
l1 =[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    elif type(i) == dict:
        for j,k in i.items():
                l1.append(j)
                l1.append(k)
    else:
        l1.append(i)
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

q10 :Try to find out a number of occurances of all the data

In [36]:
for i in set(l1) : 
    print(i , ":" ,l1.count(i))

k2 : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
kumar : 1
k1 : 1
8 : 1
45 : 1
23 : 1
ineuron : 2
data science  : 1
sudh : 1

q13 : Try to Find  out alphanum in data             str.isalnum

In [37]:
for i in l1 :
    if type(i) == str :
        if i.isalnum() : 
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron