In [1]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [2]:
# 1 . Try to extract data from index one to index 300 with a jump of 3
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [3]:
# 2. Try to reverse a string without using reverse function
s[-1:0:-1]+s[0]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [4]:
# 3. Try to split a string after conversion of entire string in uppercase
(s.upper()).split(" ")

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [5]:
# 4. try to convert the whole string into lower case
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [6]:
# 5 . Try to capitalize the whole string
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [7]:
# 6 . Write a diference between isalnum() and isalpha()
"""A string is alpha-numeric if all characters in the string are alpha-numeric and there is at least one character in the string."""
""" A string is alphabetic if all characters in the string are alphabetic and there is at least one character in the string."""
s.isalnum()

False

In [8]:
s.isalpha()

False

In [9]:
# 7. Try to give an example of expand tab
"""Return a copy where all tab characters are expanded using spaces.
If tabsize is not given, a tab size of 8 characters is assumed. """

name = "My\tname\tis\tGitanjali"
name.expandtabs()

'My      name    is      Gitanjali'

In [10]:
School = "This is\na\nSchool"
School.expandtabs()

'This is\na\nSchool'

In [11]:
name.expandtabs(20)

'My                  name                is                  Gitanjali'

In [12]:
# 8 . Give an example of strip , lstrip and rstrip
"""
strip :Return a copy of the string with leading and trailing whitespace removed.
lstrip():Return a copy of the string with leading whitespace removed.
rstrip():Return a copy of the string with trailing whitespace removed.
"""
Fun = "   I had a fun          yesterday    last night      "
Fun.strip()

'I had a fun          yesterday    last night'

In [13]:
Fun.lstrip()

'I had a fun          yesterday    last night      '

In [14]:
Fun.rstrip()

'   I had a fun          yesterday    last night'

In [15]:
abc = "####sghfbdn####"
abc.strip('#')

'sghfbdn'

In [16]:
abc.lstrip('#')

'sghfbdn####'

In [17]:
abc.rstrip('#')

'####sghfbdn'

In [18]:
#9.  Replace a string charecter by another charector by taking your own example "sudhanshu"
s1 = "L0ve0India"
s1.replace('0','o',2)

'LoveoIndia'

In [19]:
s1.replace('0','o',1)

'Love0India'

In [20]:
# 10 . Try  to give a defination of string center function with and exmple
""" Return a centered string of length width.
Padding is done using the specified fill character (default is a space)."""

s2 = "I love my India"
s2.center(100,"*")

'******************************************I love my India*******************************************'

In [21]:
s2.center(10, "$")

'I love my India'

In [22]:
s2.center(len(s2)+10, "$")

'$$$$$I love my India$$$$$'

# 11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

Compiler - It is a type of software that runs or executes the written code at once or runs the whole codes with one go.
Interpretoor - It executes the written code line by line or one line at a time into machine code.

# 12 . Python is a interpreted or compiled language give a clear ans with your understanding 
"""  For this Question "Python is a interpreted or compiled language" its better to see practical example by giving a error.
    
    so, in this
    
    a="Pooja" # "Pooja" is assign to a ok  correct
    print("Hello World") # print "pooja"  as it don't have any error and we get our output so hmm Good
    print(a+2)# print pooja2 but error as str not concetenate with int  nd we get error too
    print("pooja"*2)# print poojapooja  this statement is correct but not print  as we get error in above line python not execute this statement 
    
    
   So, as we seen in example python execute line by line and get error stop in that line only not even go to next that only mean "Python is Interpreter"."""
a="Pooja"
print("Hello World")
print(a+2)
print("pooja"*2)

#13 . Try to write a usecase of python with your understanding .
 Web Development using  Django, Pyramid, and Flask frameworks.
    Scientific Computing using Numpy and Pandas
    Machine Learning and AI
    Data Visualization
    Game development
    Desktop Application using Tk library
    
    1. Face Detection 
2. Vehicle Number Plate Detection 
3. Stock Exchange Trading Apps that have AI for trading analysis 
4. Phone Keyboard
5. Snapchat's Bitmoji predictor
6. Google Map 
7. Airlines ticket price predicter

1) System Programming

2) GUI Interface

3) WEb Scrapping

4) Data bases

5) Scientific Programming / Numeric Programming

6) Game

7) Image processing

8) Robotics.

9) CAD Application.

In [26]:
# you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may .